
run = "npm run dev"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-23_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[unitTest]
language = "nodejs"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[deployment]
build = ["npm", "run", "build"]
run = ["node", "dist/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
